.notification {
  display: flex;
  margin: 0.75em 0;
  padding: 0.5em 0.75em;
  border-radius: 15px;
}

.avatar {
  margin-right: 1em;
}

.avatar img {
  max-width: 50px;
}

.notification.comment .information {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.notification.unread {
  background-color: var(--color-lgb1);
}

.information {
  position: relative;
  width: 100%;
}

.information .username {
  font-weight: 800;
}

.information .username:hover {
  color: var(--color-blue);
  cursor: pointer;
}

.information span:not(.username, .content) {
  color: var(--color-gblue);
  margin: 0 0.25em;
}

.information .image-content {
  min-width: 80px;
  padding: 0.15em;
  border-radius: 25px;
  border: 1px solid transparent;
}

.information .image-content:hover {
  border: 1px solid var(--color-lgb1);
  cursor: pointer;
}

.message-box {
  padding: 0.75em;
  border: 1px solid var(--color-dgblue);
  border-radius: 5px;
  color: var(--color-dgblue);
  margin-top: 1rem;
}

.message-box:hover {
  background-color: var(--color-lgb2);
  border: 1px solid transparent;
  cursor: pointer;
}

.content .link.group {
  font-weight: 800;
  color: var(--color-blue);
}

.information .content.react-content {
  color: var(--color-dgblue);
  font-weight: 800;
}

.information .content.react-content:hover {
  color: var(--color-blue);
  cursor: pointer;
}

.time {
  color: var(--color-gblue);
}

.content .link {
  color: var(--color-vdblue);
}

.content .link:hover {
  cursor: pointer;
}

.unread-indicator {
  width: 10px;
  height: 10px;
  background-color: var(--color-red);
  border-radius: 50%;
  position: absolute;
  right: 0px;
}
